body{
    color: white;
    background-color: blue;
    font-size: 45px;
}
h1{
    color: brown;
    font-size: 100px;
    background-color: blueviolet;
}
button{
    font-size: 45px;
    background-color: brown;
}