html{
    background-color: #888800;
}
#fun{
    background:-moz-radial-gradient(left,#3300bb,#ff0000,#ffff00,#880,#880);
}
h1{
    font-family: "Arial","Calibri";
    color:#80f080;
    font-weight: 900;
    -webkit-text-stroke: 1px black;
    background:-moz-radial-gradient(left,#3300bb,#ff0000,#ffff00,#880,#880);
}
#buttoon{
    width: 345px;
    height: 490px;
    background-color: #eeeeee;
    border-color: #ff0000;
}
#pic{
    width: 331px;
    height: 480px;
}